/* 全体に使うスタイル */
.contents{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	margin: 0;
	font-family: 'Hiragino Maru Gothic Pro';

}

.text_center{
	text-align: center;
}
.text_right{
	text-align: right;
}

@font-face{
	font-family: TitleFont;
	src: url('../fonts/ComicNeue-Angular-Light-Oblique.ttf') format('truetype');
}

.title{
	font-family: TitleFont;
}