.management{
	.header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		background-color: #C9E8F1;
		height: 150px;
		width: 100%;

		.title{
			color: #3261AB;
			padding-top: 30px;
		}

		.btn_area{
			padding-top: 20px;
			width: 220px;
			margin-left: auto;
			margin-right: auto;
			
		}
	}

	.list{
		padding-top: 150px;
		padding-bottom: 50px;

		.article{
			margin-left: auto;
			margin-right: auto;
			padding: 20px 0 30px;
			width: 460px;
			margin-bottom: 10px;

			.article_over{
				padding: 10px;
			}

			.article_under{
				padding: 10px 20px;
			}

			.name, .date, .time{
				margin-left: 5px;
			}

			.article_btns{
				clear: left;
				height: 33px;
				.edit{
					float: left;
					width: 220px;
				}
				.delete{
					float: right;
					margin-left: 20px;
					width: 220px;

				}
			}

			.edit_area, .delete_area{
				margin-top: 20px;
			}
		}
	}
}